@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&display=swap");
 

/* Reset */ 
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {font-family:'Noto Sans KR','Malgun Gothic', dotum,sans-serif; font-size:16px; margin:0; padding:0;  border:0; outline:0; background:transparent;}/*font-size:100%*/
body {line-height:1;  font-family:'Noto Sans KR','Malgun Gothic', dotum, sans-serif; color:#464545;   line-height:180%; }/**/
 
article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section, address {display:block;} 
ul,ol,li {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:'';content:none;}
a {margin:0; padding:0;color:#464545;font-size:100%; vertical-align:baseline;text-decoration:none;background:transparent;}
a:hover {text-decoration:none;}
ins {background-color:#ff9; color:#000; text-decoration:none;}
mark {background-color:#ff9; color:#000; font-style:italic; font-weight:bold;}
del {text-decoration: line-through;}
abbr[title], dfn[title] {border-bottom:1px dotted; cursor:help;}
table {border-collapse:collapse; border-spacing:0;} 
/*hr {display:none;}*/
input, select, img {font-family:'Noto Sans KR','Malgun Gothic', dotum,sans-serif;vertical-align:middle;}
img {border:0 none; margin:0;}
em {font-style:normal;}
textarea {resize:none; color:#666;}
button {margin:0; cursor:pointer; border:0 none; background:none; font-size:16px; font-family:'Noto Sans KR','Malgun Gothic', dotum, sans-serif;} 
input, select {margin:0; color:#666;}
select{font-family:'Noto Sans KR','Malgun Gothic', dotum, sans-serif; padding:2px 0.6%; letter-spacing:normal;border:1px solid #e2e2e2;}  

* {box-sizing:border-box;}

body {background:#f7f8fc;}
.primary_color {color:#2563EB;}
.primary_bg {background:#2563EB; color:#FFF;}
.primary_border {border:1px solid #3A57E8; }
.text-center {text-align:center !important;}
.text-left {text-align:left !important;}
.text-right {text-align:right !important;}
.dblock {display:block;}
.dflex {display:flex;}
.readonly { background:#f3f3f3 !important; }
.form_check_msg { font-size:14px !important;display: inline-block;color: #ff5656 !important; }
.sound_only {display:inline-block !important;position:absolute;top:0;left:0;margin:0 !important;padding:0 !important;width:1px !important;height:1px !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important}

.btn_color01 {background:#ff5b3f; color:#FFF;}
.btn_color02 {background:#1c9352; color:#FFF;}
.btn_color03 {background:#ff5b3f; color:#FFF;}

.dblock {display:block;}
.dflex {display:flex;}

.mt10 {margin-top:10px;}
.mt20 {margin-top:20px;}

.mb10 {margin-bottom:10px;}
.mb20 {margin-bottom:20px;}

.empty_tbl { padding:50px 10px !important;text-align:center !important; }

button.submitBtn,a.submitBtn {display:inline-block; line-height:42px; width:188px; height:44px; border-radius:5px;}
input.inputbox {text-indent:10px; font-size:16px; box-sizing:border-box;height:37px; border:1px solid #b4b4b4;outline:none; }
input.inputbox:hover, input.inputbox:focus { border:1px solid #f18761; }
textarea.inputbox { padding:10px;font-size:16px; box-sizing:border-box; border:1px solid #b4b4b4;outline:none; }
textarea.inputbox:hover, textarea.inputbox:focus { border:1px solid #f18761; }

.admin_header {background:#363740; position:fixed; left:0; top:0; width:255px; height:100%; z-index:9;}
.admin_logo {height:128px; display:flex; align-items:center; justify-content:center;}
.admin_logo h1 a {color:#FFF; font-size:19px;}
.admin_logo h1 img {margin-right:10px;}
a.mobile_top_bars {display:none;}

.admin_gnb {display:block}
.admin_gnb > li > a {display:block; color:#A4A6B3; font-size:16px; padding:10px 30px; }
.admin_gnb > li.active > a {color:#DDE2FF;}
.admin_gnb > li.active .admin_snb {display:block;}

.admin_snb {padding:5px 30px; background:#4e5058; display:none;}
.admin_snb > li > a {display:block; color:#A0A0A0; padding:3px 0;}
.admin_snb > li > a.active {color:#D2D0D0;}



.admin_wrapper {position:relative; padding-left:255px;  height:100%; width:100%; box-sizing:border-box;}
.admin_content {padding:25px;}



@media (max-width:900px) {

.admin_header {position:relative; width:100%; height:auto;}
.admin_logo {height:80px; position:relative;}
a.mobile_top_bars {display:block; position:absolute; left:20px; top:25px; color:#FFF; font-size:24px;}
.admin_wrapper {padding-left:0;}
.admin_gnb {display:none; border-top:1px solid #666;}


.admin_content {padding:25px 10px;}
}


.admin_page_top {position:relative; min-height:30px; margin-bottom:30px;}
.admin_page_top .admin_prev_button {display: inline-block; width:30px; height:30px; background:url(../img/admin/Frame186.png) no-repeat;}
.admin_page_top h4 {font-size:24px; color:#252733; height:30px; padding-left:10px }
.admin_top_util2 {position:absolute; top:0; left:0; display:flex; height:32px;}
.admin_top_util {position:absolute; top:0; right:0; display:flex; height:32px;}
.admin_top_util li a.search {display:block; color:#C5C7CD; padding:0 10px;}
.admin_top_util li a.alarm {display:block; color:#C5C7CD; padding:0 10px; position:relative}
.admin_top_util li a.alarm .new_alarm {position:absolute; top:6px; right:10px; width:8px; height:8px; border-radius:100%; background:#3751FF; border:1px solid #FFF; }
.admin_top_util li.name {font-size:14px; color:#252733; border-left:1px solid #DFE0EB; padding:0 30px; margin-left:10px;}
.admin_top_util li.photo {position:relative; top:-8px;}
.admin_top_util li .profile_photo {border:1px solid #DFE0EB; border-radius:100%; width: 40px;height: 40px;line-height: 35px;font-size: 22px;background: #ffffff;text-align: center; cursor:pointer;}
.admin_top_util li .profile_photo img {border-radius:100%; border:2px solid #FFF;}

@media (max-width:500px) {
 .admin_top_util {position:relative; margin-bottom:10px; justify-content:space-between;}
 .admin_top_util li.photo {}
 .admin_top_util li.name {display:none;}
 .admin_top_util li.photo {position:absolute; right:0px; top:-80px; z-index:99;}
}

.admin_top_util_sub {position:absolute; top: 30px; right:0; margin: 5px; display:none; z-index:9999; background:#ffffff; border-radius:8px; border:1px solid #ddd;}
.admin_top_util_sub li a {padding:5px 10px; font-size:13px; border-bottom:1px solid #eee;}
.admin_top_util_sub li:last-child a {border-bottom:none;}
/* display:flex; flex-direction: column;*/


.admin_search {background:#FFF; border-radius:10px; padding:20px 10px; margin-bottom:20px;}
.admin_search .admin_search_box {max-width:700px; margin:0 auto; position:relative; display:flex; align-items:center;}
.admin_search .admin_search_box select {height:58px; border:1px solid #c0c0c0; background:#fbfbfb; width:170px; cursor:pointer;}
.admin_search .admin_search_box .search_input {flex:1; height:58px; border:1px solid #c0c0c0; border-left:none; padding:10px;}
.admin_search .admin_search_box .search_btn { width:78px; height:48px; border:none; border-radius:5px; margin-left:10px; font-size:16px; cursor:pointer;}
.admin_search .admin_search_box .inputbox {width:100%; height:37px; border:1px solid #b4b4b4; }

@media (max-width:900px) {

.admin_search .admin_search_box select {width:90px;}
.admin_search .admin_search_box .search_btn {font-size:14px;}
.admin_top_util_sub {top:-40px; right:-10px;}

}



.admin_tableList {}
.list_top {position:relative; margin-bottom:10px; font-size:16px;}
.list_sort {position:absolute; right:0; top:0; display:flex;}
.list_sort li {margin-left:17px; position:relative;}
.list_sort li a.sort_btn {padding:0 20px 0 10px; position:relative;cursor:pointer; }
.list_sort li a.sort_btn:after {position:absolute; right:0; top:0; font-family: 'FontAwesome'; content: "\f078"; font-size:11px;}
.list_sort li a.sort_btn i {color:#C5C7CD;}

.list_sort li.active .sort_menu {display:block;}
.sort_menu {display:none; position:absolute; background:#FFF; min-width:100px; right:0; border:1px solid #ccc;}
.sort_menu li {margin-left:0; border-bottom:1px solid #ddd;}
.sort_menu li:last-child {border-bottom:none;}
.sort_menu li a {display:block; padding:5px 10px; text-align:center; font-size:14px;}
.sort_menu li a:hover {background:#f9f9f9;}

.admin_table01 {}
.admin_table01 table {border-collapse:collapse; width:100%;}
.admin_table01 table th {background:#f1f1f1; border:1px solid #dddddd; font-size:16px; font-weight:normal; color:#333333; padding:10px;}
.admin_table01 table td {border:1px solid #dddddd; font-size:16px; color:#333333; text-align:center; padding:10px; background:#FFF;}

.admin_form01 {}
.admin_form01 table {border-collapse:collapse; width:100%;}
.admin_form01 table th {background:#f1f1f1; border:1px solid #dddddd; font-size:16px; font-weight:normal; color:#333333; padding:10px;}
.admin_form01 table td {border:1px solid #dddddd; font-size:16px; color:#333333; text-align:left; padding:10px; background:#FFF;}

.admin_btn_set {display:flex; margin-top:22px;}
.admin_btn_set .btn_right { margin-left: auto;}
.admin_btn_set.align-center {justify-content:center;}
.admin_btn_set.align-center .btn {margin:0 5px;}
.admin_btn_set.align-right {justify-content:right;}

.btn {border-radius:5px; height:33px; line-height:31px; display:inline-block; white-space:nowrap;padding: 0px 10px;cursor:pointer; }
.btn_style01 {border:1px solid #B3B3B3; background:#f9f9f9;  font-size:14px; color:#333; margin-right:10px;} /*게시판 하단*/
.btn_style02 {border:none; border-radius:5px; font-size:16px; padding:0 25px;} /*등록버튼*/
.btn_style03 {border:none; border-radius:5px; font-size:14px; padding:3px 10px;} /*게시물 수정버튼*/
.btn_style04 {border:none; border-radius:5px; font-size:16px; padding:0px 10px; height:3em; line-height:2.8em; width:133px; text-align:center;} /*폼등록버튼*/
.btn_style04.list_btn {border:1px solid #E2E2E2; background:#fbfbfb;} /*폼리스트버튼*/

@media (max-width:900px) {

.admin_table01.scroll-x {overflow-x:scroll}
.admin_table01.scroll-x table {min-width:1100px;}

.admin_table table th {font-size:14px;}
.admin_table table td {font-size:14px;}

}

.pagination { display: inline-block;margin: 10px 0px; }
.pagination li { float:left; }
.pagination li a { color: black;float: left;padding: 5px 15px;text-decoration: none; background:#ffffff;border: 1px solid #ddd;border-right:0px; }
.pagination li:last-child a { border-right:1px solid #ddd; }
.pagination li a.active { background: #ff7a4c;color: #ffffff;border: 1px solid #ff7a4c; }
.pagination li a:hover:not(.active) {background-color: #eeeeee;}

.admin_table table .wid-30 { width:30%; }

/*사용자등록*/
.wb-writeWrap {}
.wb-writeForm { display:flex; flex-wrap:wrap; justify-content:space-between; background:#FFF; border-radius:10px; padding:30px;}
.wb-writeForm li {width:49%; margin-bottom:10px;}
.wb-writeForm li.full {width:100%;}
.wb-writeForm li label {font-size:14px; color:#262626;}
.wb-writeForm li label strong {display:inline-block;font-size:10px; color:#fff; background:#F6487A; font-weight:normal; line-height:18px; height:20px; padding:0 3px; border-radius:2px;}
.wb-writeForm li input.inputbox {width:100%; border:1px solid #D4D4D4; border-radius:5px; height:44px;}
.wb-writeForm li textarea.inputbox {width:100%; border:1px solid #D4D4D4; border-radius:5px; }
.wb-writeForm li .wb-write-radio {width:100%; border:1px solid #D4D4D4; border-radius:5px;  line-height:2.5em; padding:0 10px;}
.wb-writeForm li .wb-write-radio span {margin-right:10px;}
.wb-writeForm li .wb-write-radio span.title {margin-left:10px; font-weight:bold;}
.wb-writeForm li .wb-write-radio-item {display:inline-block;}


.wb-writeForm li .wb-write-select select {width:100%; border:1px solid #D4D4D4; background:white; border-radius:5px; height:44px; line-height:2.5em; padding:0 10px; font-size:16px; }


@media (max-width:700px) {
.wb-writeForm li {width:100%;}
.wb-writeForm li .wb-write-radio-item {display:block;}
}

.layer-popup {cursor: move; position: absolute; z-index: 9999; background: white; border: 1px solid #ccc; padding: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);}
.layer-content {display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 100%; }
.layer-button {text-align: center; }
.popup {width: calc(100% - 50px); height: calc(100% - 50px); text-align: center; display: flex; justify-content: center; align-items: center; }
.popup-content {display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 100%; }
.popup-button {text-align: center;}

/*대쉬보드*/
.dashboard_wrap {display:flex; flex-wrap:wrap; margin-left:-1%; margin-bottom:20px;}
.dashboard_wrap .dashboard_box {width:15.66666%; margin-left:1%; background:#FFF; border:1px solid #EBEBEB; border-radius:8px; padding:10px 20px; position:relative;}
.dashboard_wrap .dashboard_box h5 {position:relative; font-size:14px; font-weight:bold; padding-left:10px; margin-bottom:30px;}
.dashboard_wrap .dashboard_box h5:before {content:""; position:absolute; left:0; top:8px; width:2px; height:14px; background:#0D7FFE;}
.dashboard_wrap .dashboard_box .counting {font-size:30px; color:#0D7FFE; font-weight:bold;}
.dashboard_wrap .dashboard_box .subtxt {font-size:12px; margin-top:10px;}
.dashboard_wrap .dashboard_box .icon {position:absolute; width:65px; height:65px; border-radius:100%; background:#EBEBEB; display:flex; align-items:center; justify-content:center; right:20px; bottom:20px; color:#0D7FFE; font-size:24px;}


@media (max-width:1400px) {

.dashboard_wrap .dashboard_box {width:32.33333%; margin-bottom:1%;}

}

@media (max-width:700px) {


.dashboard_wrap .dashboard_box {width:49%; margin-bottom:1%;}

}

@media (max-width:450px) {

.dashboard_wrap .dashboard_box .counting {font-size:20px;}
.dashboard_wrap .dashboard_box .icon {width:55px; height:55px; font-size:20px;}
}




.dasboard_board_box {width:32.33333%; display:flex; align-items:center; justify-content:center; position:relative; margin-left:1%; background:#FFF; border:1px solid #DFE0EB; border-radius:8px; padding:30px 20px; padding-left:180px; }
.dasboard_board_box.empty {padding-left:20px; color:#989898;}
.dasboard_board_box .board_title {position:absolute; left:0px; top:0; height:100%; padding:30px 20px;}
.dasboard_board_box .board_title h5 {font-size:27px; font-weight:bold; color:#0D7FFE; margin-bottom:10px;}
.dasboard_board_box .board_title a.more {background:#0D7FFE; font-size:12px; color:#fff; padding:5px 10px;}
.dasboard_board_box .bo_setting {position:absolute; bottom:20px; left:20px; border:1px solid #0D7FFE; border-radius:5px; color:#0D7FFE; font-size:12px; padding:0px 10px; line-height:160%;}
.dasboard_board_box .board_list {width:100%;}
.dasboard_board_box .board_list li {position:relative; padding-right:70px; padding-left:10px;}
.dasboard_board_box .board_list li:before {position:absolute; left:0; top:12px; width:4px; height:4px; content:""; background:#000; border-radius:100%;}
.dasboard_board_box .board_list li a {display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.dasboard_board_box .board_list li .date {position:absolute; right:0; top:0; font-size:12px; color:#C4C4C4;}


@media (max-width:1400px) {

.dasboard_board_box {width:100%; margin-left:0; margin-bottom:1%;}
.dasboard_board_box .board_list li a {font-size:14px;}
}


@media (max-width:700px) {

.dasboard_board_box {padding-left:140px;}
.dasboard_board_box .board_title h5 {font-size:18px;}

}




.dashbaord_todayvisited {background:#FFF; border:1px solid #DFE0EB; border-radius:8px; padding:30px 20px; margin-bottom:20px;}
.dashbaord_todayvisited .title {margin-bottom:10px;}
.dashbaord_todayvisited .title h5  {font-size:27px; font-weight:bold; color:#0D7FFE; margin-bottom:5px;}
.dashbaord_todayvisited .title p {font-size:14px; color:#000000;} 
.todayvisited_chart {width:100%; height:100px; background:#f9f9f9;}
.todayvisited_table {display:flex; margin-top:20px;}
.todayvisited_table table {width:50%; border-collapse:collapse;}
.todayvisited_table table th {background:#1080FE; color:#FFF; border:1px solid #DADADA; font-size:16px; padding:5px; font-weight:normal;}
.todayvisited_table table td {border:1px solid #DADADA; text-align:center; padding:5px;}
.todayvisited_table table th.title {background:#0446D2;}
.todayvisited_table table tr:nth-child(2) td {background:#FEFFDF;}



@media (max-width:1200px) {

.todayvisited_table {flex-wrap:wrap;}
.todayvisited_table table {width:100%;}

}


@media (max-width:700px) {

.todayvisited_table table th {font-size:12px;}
.todayvisited_table table td {font-size:12px;}
.dashbaord_todayvisited .title h5 {font-size:18px;}
}


.dashboard_box02 {width:49%; background:#FFF; border:1px solid #DFE0EB; border-radius:8px; padding:30px 20px; margin-left:1%;}
.dashboard_box02 .title {margin-bottom:20px; position:relative;}
.dashboard_box02 .title h5  {font-size:27px; font-weight:bold; color:#0D7FFE; margin-bottom:5px;}
.dashboard_box02 .title p {font-size:14px; color:#000000;} 
.dashboard_box02 .title a.more_info {position:absolute; right:0; top:0; background:#0D7FFE; font-size:12px; color:#fff; padding:2px 10px; border-radius:5px;}

.dashboard_box02 .dashboard_ul {display:flex; margin-bottom:10px;}
.dashboard_box02 .dashboard_ul li {width:33.33333%; border:1px solid #DADADA; border-left:none;}
.dashboard_box02 .dashboard_ul li:nth-child(1) {border-left:1px solid #DADADA;}
.dashboard_box02 .dashboard_ul li div {padding:10px;}
.dashboard_box02 .dashboard_ul li h6 {text-align:center; background:#FCFBFD; padding:10px; border-bottom:1px solid #dadada;}

.dashboard_box02 .dashboard_board_tab {display:flex;}
.dashboard_box02 .dashboard_board_tab li {flex:1;}
.dashboard_box02 .dashboard_board_tab li a {display:block; background:#FCFBFD; padding:10px; text-align:center; border-bottom:1px solid #1080FE;}
.dashboard_box02 .dashboard_board_tab li a.active {border:1px solid #1080FE; border-bottom:1px solid #FCFBFD; background:#FFF;}

.dashboard_box02 a.more {position:absolute; right:0; top:-120px; font-size:18px; color:#0D7FFE; padding:2px 10px; border-radius:5px;}
.dashboard_box02 .dashboard_content {position:relative;}
.dashboard_box02 .board_list {margin-top:20px;}
.dashboard_box02 .board_list li {position:relative; padding-right:70px; padding-left:15px; }
.dashboard_box02 .board_list li a {display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.dashboard_box02 .board_list li .date {position:absolute; right:0; top:0; font-size:12px; color:#C4C4C4;}
.dashboard_box02 .board_list li:before {position:absolute; left:0; top:12px; width:4px; height:4px; content:""; background:#000; border-radius:100%;}




@media (max-width:1200px) {


.dashboard_box02 {width:100%; margin-left:0; margin-bottom:1%;}

}


@media (max-width:700px) {

.dashboard_box02 .dashboard_ul li h6 {font-size:14px;}
.dashboard_box02 .title h5 {font-size:18px;}
.dashboard_box02 .dashboard_board_tab li a {font-size:14px;}
.dashboard_box02 .board_list li a {font-size:14px;}
}

@media (max-width:450px) {

.dashboard_box02 .dashboard_board_tab li a {font-size:13px; letter-spacing:-1px;}

}
